$Primary: #7c7c7c;
$BlackText:#4d4d4d;
$Yellow: rgba(255, 214, 96, 1);
$Red:rgba(236, 49, 60, 1);
$White: #fff;
$Gray: rgba(174, 174, 174, 1);
$Black: #333333;
$Orange: rgba(250, 168, 86, 1);
$Cornsilk: rgba(255, 247, 225, 1);
$WhiteSmoke:rgba(247, 247, 247, 1);
$AliceBlue: rgba(237, 242, 255, 1);