.container_add-new-project{
    position: fixed;
    height: 100vh;
    width: 80%;
    max-width: 550px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: $White;
    top: 0;
    left: auto;
    right: -100%;
    transition: 0.4s;
    overflow: auto;
    &.isShow{
        right: 0%;
    }
}
.container__select-client{
    width: 100%;
    max-width: 384px;
    position: relative;

}
.select-client__wrapper{
    padding-left: 7.5px;
    padding-right: 7.5px;
    padding-top: 0;
    padding-bottom: 0;
    width: 100%;
    background-color: rgba($Gray, 0.1);
    height: 0;
    transition:height 0.4s;
    overflow: hidden;
    &.isShow{
        padding-top: 7.5px;
    padding-bottom: 7.5px;
    height: 180px;
    overflow-y: auto;
    }
    li{
        padding: 7.5px;
        margin-bottom: 4px;
        border-radius: 4px;
        &:hover{
            background-color:rgba($Gray, 0.18) ;
        }
    }
}
.select-client__name-job{
    padding-left: 15px;
}
.select-client__item{
    p{
        margin-bottom: 0;
    }
}
.select-client__image img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: top center;
    border-radius: 50%;
}
.select-client__selected{
    background-color: rgba($Gray, 0.24);
    min-height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    border-radius: 4px;
    cursor: pointer;
}
.select-client__name-job p{
    margin: 0;
}
.select-client__text p{
    color: rgba($Gray, 0.5);
    margin-bottom: 0;
}
.client_selected_image img{
    width:40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center;
}
.select-client__wrapper li{
    cursor: pointer;
}
.select-client__name{
    font-weight: 800;
}